.global-header {
    width: 100%;
    height: 44px;
    background-color: #000;
}

.global-header .global-header-nav {
    width: 1200px;
    height: 44px;
    margin: 0 auto;
}

nav-icon-top {
    position: relative;
    float: left;
}

.global-header .global-header-nav .nav-icon {
    background: url(../images/meitu.png) no-repeat;
    background-position: -5px 7px;
    text-indent: -999px;
    height: 44px;
    width: 122px;
    line-height: 44px;
    position: absolute;
    background-size: 400px 400px;
}

.nav-icon-center {
    float: left;
    height: 44px;
    line-height: 44px;
    position: relative;
    vertical-align: top;
    margin-left: 152px;
}

.nav-icon-center a {
    color: #fff;
    font-size: 14px;
}

.nav-icon-second {
    background: url(../images/meitu.png) no-repeat;
    background-position: -210px 10px;
    height: 44px;
    width: 20px;
    line-height: 44px;
    position: absolute;
    /* display: block; */
    background-size: 400px 400px;
    background-color: #000;
    float: right;
    margin-left: 70px;
}

.nav-icon-third {
    background: url(../images/meitu.png) no-repeat;
    background-position: -165px 8px;
    height: 44px;
    width: 20px;
    line-height: 44px;
    position: absolute;
    /* display: block; */
    background-size: 400px 400px;
    background-color: #000;
    float: right;
    margin-left: 180px;
}

.banner {
    position: relative;
    /* width: 100%; */
    height: 600px;
    overflow: hidden;
}

.swiper-slide {
    /* width: 100%; */
    height: 600px;
}

.banner .banner-top {
    /* width: 100%; */
    height: 100%;
    background: url(../images/meinv.jpg) center;
    background-size: cover;
    display: block;
}

.banner-meitu {
    background: url(../images/text.png) no-repeat;
    width: 454px;
    height: 152px;
    background-position: 50%;
    z-index: 999;
    top: 30%;
    right: 10%;
    position: absolute;
}

.banner a .banner-text {
    position: absolute;
    top: 120%;
    right: 15%;
    color: #e91e63;
    font-size: 20px;
    font-weight: 200;
}
.banner-meitu1 {
    background: url(../images/text.png) no-repeat ;
    width: 252px;
    height: 72px;
    background-position: 50%;
    z-index: 999;
    top: 5%;
    left: 10%;
    position: absolute;
    z-index: 888;
    background-size: contain;
}

.banner a .banner-text1 {
    position: absolute;
    top: 90%;
    left: 10%;
    color: #e91e63;
    font-size: 15px;
    font-weight: 200;
}


.item {
    width: 1280px;
    height: 229px;
    margin-left: -3px;
}

.item-nav {
    width: 25%;
    height: 100%;
    position: relative;
    float: left;
    border: 3px solid white;
    box-sizing: border-box;
}

.item-nav img {
    width: 100%;
    height: 100%;
}
.item-nav:hover img {
    animation:phone 2s linear 0s infinite ;
}
@keyframes phone {
    0%{
        transform: scale(1);
        opacity:1;
    }
    100%{
        transform: scale(1.02);
        opacity:0.8;
    }
}

.item a .name {
    position: absolute;
    top: 12%;
    left: 40%;
    color: #fbe7b2;
    font-size: 14px;
z-index: 10;
}

.item a .price {
    position: absolute;
    top: 20%;
    left: 20%;
    color: #fbe7b2;
    font-size: 15px;
    font-weight: 300;
    z-index: 10;
}

.footer {
    width: 1280px;
    height: 370px;
    margin-top: 10px;
    background-color: #f4f4f4;
    padding-top: 10px;
}

.footer .footer-top {
    width: 96%;
    height: 196px;
    margin: 0 auto;
    border-bottom: 1px solid #999;
}

.footer-top-left {
    width: 190px;
    height: 100%;
    float: left;
    margin-top: 10px;
}

.footer-top-left h3 {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.footer-top-left li {
    font-size: 12px;
    color: #555;
    padding-top: 10px;
}

.footer-top-right {
    float: left;
    padding-top: 10px;
}

.footer-top-right .week {
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 20px;
    color: #333;
}

.footer-top-right .phone-number {
    font-size: 26px;
    font-weight: 300;
    color: #333;
    padding-bottom: 20px;
}

.footer-top-right .inline {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.explain .explain-top {
    font-size: 12px;
    color: #666;
    padding-right: 10px;
}

.footer-last {
    padding-top: 30px;
    width: 96%;
    margin: 0 auto;
}

.explain-top-right-1 {
    display: block;
    position: absolute;
    background: url(../images/meitu.png) no-repeat;
    background-position: -300px -5px;
    height: 18px;
    width: 16px;
    line-height: 18px;
    background-size: 400px 400px;
    top: 0;
    right: 40px;
}

.explain {
    position: relative;
}

.explain-top-right {
    position: absolute;
    top: 0;
    right: 10px;
}

.normal-one {
    font-size: 12px;
    color: #999999;
}

.normal {
    position: relative;
}

.normal-second {
    display: block;
    position: absolute;
    background: url(../images/meitu.png) no-repeat;
    background-position: -308px -188px;
    height: 22px;
    width: 46px;
    line-height: 22px;
    background-size: 400px 400px;
    top: 0;
    right: 485px;
}

.normal-third {
    display: block;
    position: absolute;
    background: url(../images/meitu.png) no-repeat;
    background-position: -378px -188px;
    height: 22px;
    width: 22px;
    line-height: 22px;
    background-size: 400px 400px;
    top: 0;
    right: 450px;
}

@media screen and (max-width: 769px){
    .global-header-nav .z {
        display: none;
      }  
      .global-header-nav .y {
          display: block;
      }  
      }
      @media screen and (min-width: 769px){
        .global-header-nav .z {
            display: block;
          }  
          .global-header-nav .y {
              display: none;
          }  
          }
          @media screen and (max-width: 769px){
            .banner-meitu {
                display: none;
            }
            .banner-text {
                display: none;
            }
          }
          @media screen and (min-width: 769px){
            .banner-meitu1 {
                display: none;
            }
            .banner-text1 {
                display: none;
            }
          }
          @media screen and (max-width: 769px){
            .item-nav  {
                width: 50%;
              }  
              .item-nav img {
                width: 50%;
              }  
              .item-nav .name {
                  width: 50%;
              }  
              .item-nav .price {
                width: 50%;
            }    
              }
              @media screen and (max-width: 475px) {
                .item-nav  {
                  width: 100%;
                }
                .item-nav .name {
                    width: 100%;
                }  
                .item-nav .price {
                  width: 100%;
              }   
              .item-nav img {
                width: 100%;
              }   
                
              }